<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add providerName="System.Data.SqlClient" connectionString="Server=172.18.60.4;initial catalog=EParliament_MSCRM_Replicated;User id=parliamentdeveloper; Password=developer;MultipleActiveResultSets=true"/>
  </connectionStrings>
</configuration>